body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

/* Log In */

body.login {
    width: 230px;
    padding: 10px;
    background: #14313d;
}
body.login form {
    background: #14313d;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 0;
}

body.login h1 {
    margin: 0 0 40px 0;
}
body.login h1 a {
    color: #fff;
    text-decoration: none;
    display: block;
    background: url("chrome-extension://__MSG_@@extension_id__/img/text_logo.png") no-repeat;
    background-size: contain;
    height: 50px;
}

body.login p {
    color: white;
    font-size: 14px;
    font-weight: 200;
    line-height: 16px;
}

body.login a:focus {
    outline: none;
}

body.login .form-group label {
    color: #eee;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
}
body.login .form-control {
    width: 100%;
    max-width: 186px;
    background: #173849;
    border: none;
    margin-bottom: 5px;
}
body.login .form-action {
    margin-top: 40px;
}
/* Popup */

body.search {
    padding: 5px 8px;
}

body.search .nav {
    margin-bottom: 8px;
    font-size: 12px;
}

body.search .nav-tabs > li > a {
    padding: 2px 10px;
    outline: none;
}

#basic-search {
    display: none;
    margin-bottom: 5px;
}

#basic-query {
    width: 243px;
}

#advanced-search {   
    margin-bottom: 5px;
}

.short-results .select2-results {
    max-height: 110px;
}

.actions {
    float: right;
    overflow: hidden;
    min-width: 301px;
    margin-bottom: 7px;
}

body.search label {
    display: inline-block;
    font-size: 12px;
}

body.search select {
    width: 100px;
    height: 20px;
    margin-bottom: 0px;
    padding: 0px;
    font-size: 12px;
}

body.search select:focus {
    outline: 0;
}
.pickathome-logo {
  display: block;
  height: 50px;
  width: 250px;
  background: transparent url("/img/sb.jpg") no-repeat top left;
  background-size: 100% 100%;
  font-size: 0;
  line-height: 0;
  color: transparent;
}

.btn-login {
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    position: relative;
    border-radius: 5px;
    color: #FFF;
    background-color: #173849;
    border: none;
    border-bottom: 4px solid #0e2830;
    height: 42px;
    font-weight: bold;
}
.btn-logout {
    color: #173849;
    font-size: 18px;
    border: 1px solid #173849;
    background-color: white !important;
    background-image: none;
    padding:10px
}
.btn-logout:hover, .btn-logout:focus {

}
.btn-search {
 color: #fff;
 background: #16BC93 !important;
 border-color: #16BC93 !important;
 padding:5px;
 width:80px;
}