@font-face {
	font-family: 'FontAwesome';
	src: url('chrome-extension://__MSG_@@extension_id__/fonts/fontawesome-webfont.eot?v=4.6.2');
	src: url('chrome-extension://__MSG_@@extension_id__/fonts/fontawesome-webfont.eot?#iefix&v=4.6.2') format('embedded-opentype'),url('chrome-extension://__MSG_@@extension_id__/fonts/fontawesome-webfont.woff2?v=4.6.2') format('woff2'),url('chrome-extension://__MSG_@@extension_id__/fonts/fontawesome-webfont.woff?v=4.6.2') format('woff'),url('chrome-extension://__MSG_@@extension_id__/fonts/fontawesome-webfont.ttf?v=4.6.2') format('truetype'),url('chrome-extension://__MSG_@@extension_id__/fonts/fontawesome-webfont.svg?v=4.6.2#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*#salesbox-plugin .row {
  display: flex;
}
#salesbox-plugin .row + .row {
  padding-top: 5px;
}
#salesbox-plugin div[class*="col-"][class$="-1"] {
  flex: 1;
}
#salesbox-plugin div[class*="col-"][class$="-2"] {
  flex: 2;
}
#salesbox-plugin div[class*="col-"][class$="-3"] {
  flex: 3;
}
#salesbox-plugin div[class*="col-"][class$="-4"] {
  flex: 4;
}
#salesbox-plugin div[class*="col-"][class$="-5"] {
  flex: 5;
}
#salesbox-plugin div[class*="col-"][class$="-6"] {
  flex: 6;
}
#salesbox-plugin div[class*="col-"][class$="-7"] {
  flex: 7;
}
#salesbox-plugin div[class*="col-"][class$="-8"] {
  flex: 8;
}
#salesbox-plugin div[class*="col-"][class$="-9"] {
  flex: 9;
}
#salesbox-plugin div[class*="col-"][class$="-10"] {
  flex: 10;
}
#salesbox-plugin div[class*="col-"][class$="-11"] {
  flex: 11;
}
#salesbox-plugin div[class*="col-"][class$="-12"] {
  flex: 12;
}*/
body {
	background: #f9fafb;
}
#salesbox-plugin {
	font-family: 'Open Sans', sans-serif;
	color: #333;
	* {
		box-sizing: border-box;
	}
	p {
		margin: 0 0 5px;
	}
	a {
		text-decoration: none;
	}
	label {
		font-weight: bold;
	}
	button {
		font-family: inherit;
	}
	input {
		height: 25px;
		padding: 2px 12px;
		border: none;
		font-size: inherit;
		font-family: inherit;
		box-shadow: none;
		width: 100%;
		background: none;
		&:focus {
			box-shadow: none;
			outline: none;
		}
	}
	.panel {
		box-shadow: none;
		background: transparent;
		border: none;
		padding: 10px;
		font-size: 11px;
		text-align: start;
		.panel-heading {
			background: #fff;
			padding: 10px;
			border-bottom: 1px solid #c0c1c2;
			.panel-title {
				font-size: 12px;
				border-bottom: 0;
			}
			.collapse-action {
				float: right;
				display: block;
				color: #9d9d9c;
			}
		}
		.panel-body {
			background: #fff;
			padding: 10px;
		}
		.panel-footer {
			padding: 10px;
		}
	}
	.panel.main-panel {
		margin-top: 50px;
		border: none;
		.panel-heading {
			background: transparent;
			border: none;
			height: 30px;
			padding: 0px;
			text-align: center;
			.action-buttons {
				float: right;
				font-size: 18px;
				ul {
					list-style: none;
					padding: 0px;
					margin: 0px;
					overflow: hidden;
					li {
						float: left;
						margin-right: 10px;
						a {
							color: #9d9d9c;
						}
						&:last-child {
							margin-right: 0px;
						}
					}
				}
			}
		}
		.panel-body {
			position: relative;
			padding-top: 50px;
			height: 200px;
			color: #fff;
			.profile {
				h3 {
					font-size: 20px;
					margin: 10px 0px;
				}
				p {
					font-size: 11px;
				}
			}
		}
		.panel-body.background-contact {
			background-color: #4e9b89;
		}
		.panel-footer {
			background: #fff;
			.bubble-actions {
				.icon {
					font-size: 18px;
					color: #4e9b89;
					position: relative;
					width: 40px;
					margin: auto;
					.badge {
						position: absolute;
						border-radius: 100%;
						background: #696969;
						box-shadow: 1px 1px 1px gray;
						color: white;
						font-weight: 500;
						font-size: 10px;
						padding: 1px 6px;
						top: -3px;
						right: 2px;
					}
				}
				p {
					font-size: 10px;
					color: #58585a;
				}
				.fa-plus-circle {
					font-size: 24px;
				}
			}
		}
	}
	.avatar-container {
		position: absolute;
		top: -45px;
		left: 50%;
		transform: translateX(-50%);
		box-shadow: rgb(255, 255, 255) 0px 0px 0px 10px;
		border-radius: 100%;
		.relationship-ring {
			height: 82px;
			width: 82px;
			box-shadow: rgb(245, 179, 66) 0px 0px 0px 5px;
			background-color: white;
			margin: auto;
			border-radius: 100%;
		}
	}
	.avatar-large {
		width: 82px;
	}
	.avatar-medium {
		width: 60px;
	}
	.avatar-small {
		width: 50px;
	}
	.table {
		font-size: 11px;
		width: 100%;
		border-collapse: collapse;
		tr {
			>td {
				border-top: none;
				padding: 5px;
				border-bottom: 1px solid #ddd;
				text-align: left;
			}
			&:last-child {
				>td {
					border-bottom: none;
				}
			}
		}
	}
	.warning-action {
		font-size: 16px;
	}
	.contact-team-table {
		.icon {
			font-size: 14px;
			color: #9d9d9c;
		}
		a {
			color: inherit;
		}
		tr {
			>td {
				border: none;
				padding: 2px 5px;
			}
		}
		.contact-team-action {
			font-size: 14px;
		}
	}
	.latest-communication-table {
		tr {
			>td {
				padding: 2px 5px;
			}
		}
		p {
			margin: 0px;
		}
	}
	.panel.add-panel {
		.panel-heading {
			background: transparent;
			border: none;
			.panel-title {
				font-weight: bold;
				color: #33505D;
				font-size: 16px;
				margin: 0px;
			}
		}
		.panel-body {
			font-size: 12px;
			.avatar-upload {
				position: relative;
				height: 80px;
				.avatar-medium {
					position: absolute;
					top: 50%;
					left: 0px;
					transform: translateY(-50%);
				}
				span {
					position: absolute;
					top: 50%;
					left: 80px;
					transform: translateY(-50%);
					font-size: inherit;
				}
			}
			.form-flex {
				.form-group {
					border-top: 1px solid #ddd;
					margin-bottom: 0;
					display: table;
					width: 100%;
					.control-label {
						margin: 0;
						height: 25px;
						line-height: 25px;
						vertical-align: middle;
						text-align: left;
						display: table-cell;
						width: 66px;
					}
					.control-input {
						display: table-cell;
					}
				}
				.form-group.save-email-btn {
					margin-bottom: 5px;
				}
				.form-group-addon {
					display: table;
					width: 100%;
					.type-action {
						display: table-cell;
						width: 20%;
					}
					.input-action {
						display: table-cell;
						width: 60%;
					}
					.default-action {
						display: table-cell;
						width: 20%;
						text-align: right;
						a {
							color: inherit;
						}
						a.active {
							font-weight: bold;
						}
					}
				}
			}
		}
	}
	.btn {
		border-radius: 2px;
		padding: 2px 10px;
		min-width: 70px;
		font-size: 12px;
	}
	.btn-outline {
		border: 1px solid #4e9b89;
		background: #fff;
		color: #4e9b89;
		&:focus {
			background: #e6e6e6;
		}
		&:hover {
			background: #e6e6e6;
		}
	}
	.btn-default {
		border: 1px solid #4e9b89;
		background: #4e9b89;
		color: #fff;
		padding: 3px 10px;
		border-radius: 5px;
		&:focus {
			opacity: 0.7;
		}
		&:hover {
			opacity: 0.7;
		}
	}
	#add-to-opportunity {
		background: #EF8367;
		border: 1px solid #EF8367;
	}
	#add-to-account {
		background: #5F6A7B;
		border: 1px solid #5F6A7B;
	}
	.no-padding {
		padding: 0px;
	}
	.padding-top {
		padding-top: 10px;
	}
	.color-green {
		color: #AACD45 !important;
	}
	.background-green {
		background: #AACD45;
	}
	.color-red {
		color: #D56772 !important;
	}
	.background-red {
		background: #D56772;
	}
	.background-gray {
		background: #ADADAD;
	}
	.img-circle {
		border-radius: 50%;
	}
	.text-center {
		text-align: center;
	}
	.text-right {
		text-align: right;
	}
	svg {
		.circle-red {
			stroke: #e0575a;
		}
		.circle-red.normal {
			stroke: rgba(224, 87, 90, 0.25);
		}
		.circle-green {
			stroke: #AACD45;
		}
		.circle-green.normal {
			stroke: rgb(158, 202, 177);
			stroke: rgba(170, 205, 69, 0.3);
		}
		.circle-yellow {
			stroke: #F7C06F;
		}
		.circle-yellow.normal {
			stroke: rgb(181, 198, 190);
			stroke: rgba(247, 192, 111, 0.3);
		}
		.circle-gray {
			stroke: #F1F1F1;
		}
		.circle-gray.normal {
			stroke: #F1F1F1;
		}
		.separate-line {
			stroke-width: 1;
			stroke: #6d6f71;
		}
		.progress-bar.thick-stroke {
			stroke-width: 9px;
		}
		.text-12 {
			font-size: 12px;
		}
		.text-24 {
			font-size: 24px;
		}
		.small-text {
			fill: #5d5d5d;
		}
		.text-red {
			fill: #e0575a;
		}
		.text-green {
			fill: #AACD45;
		}
		.text-yellow {
			fill: #F7C06F;
		}
		.weight-700 {
			font-weight: bold;
		}
	}
	.dealCircles {
		position: relative;
	}
	.saleCircles {
		position: relative;
	}
	.tooltip-wrapper {
		position: absolute;
		display: none;
		transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
		-webkit-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
		-moz-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
	}
	.tooltip-wrapper.show {
		display: block;
	}
	.tooltip-wrapper.top {
		top: -44px;
		width: 120%;
		left: 50%;
		transform: translateX(-49%);
		.tooltip {
			&:after {
				content: "";
				display: block;
				height: 0;
				width: 0;
				border-top: 5px solid #1a1a1a;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				position: absolute;
				bottom: -5px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
	.tooltip-wrapper.bottom {
		top: 118px;
		width: 120%;
		left: 50%;
		transform: translateX(-49%);
		.tooltip {
			&:after {
				content: "";
				display: block;
				height: 0;
				width: 0;
				border-bottom: 5px solid #1a1a1a;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				position: absolute;
				top: -5px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
	.tooltip {
		position: relative;
		background: #1a1a1a;
		color: white;
		border-radius: 3px;
		padding: 5px;
	}
	.dropdown {
		position: relative;
		.dropdown-menu {
			z-index: 999;
			background: #fff;
			box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
			display: none;
			position: absolute;
			top: 25px;
			width: 60%;
			min-width: 250px;
			list-style: none;
			padding: 0px;
			margin: 0px;
			li {
				padding: 10px;
				&:nth-child(2n) {
					background: #f9fafb;
				}
				a {
					color: inherit;
					width: 100%;
					display: block;
					.bubble {
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
					}
				}
				a.has-bubble {
					position: relative;
					&:not(.bubble) {
						margin-left: 50px;
					}
				}
			}
		}
		.dropdown-menu.dropdown-menu-left {
			left: 0px;
		}
		.dropdown-menu.dropdown-menu-right {
			right: 0px;
		}
	}
	.input-group {
		position: relative;
		width: 100%;
		.input-group-prefix {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			color: #9d9d9c;
		}
		.input-group-suffix {
			position: absolute;
			top: 50%;
			right: 5px;
			transform: translateY(-50%);
			color: #9d9d9c;
		}
		.input-content.has-prefix {
			margin-left: 20px;
		}
		.input-content.has-suffix {
			margin-right: 20px;
		}
	}
	.hidden {
		display: none !important;
	}
	.square {
		display: inline-block;
		width: 15px;
		height: 15px;
	}
	.circle {
		display: inline-block;
		width: 15px;
		height: 15px;
		border-radius: 50%;
	}
	.growth {
		border-radius: 4px;
		color: #fff;
		padding: 2px 4px;
		float: right;
		margin-right: 10px;
		.fa {
			font-size: 15px;
		}
		.growth-down {
			transform: rotate(135deg);
			font-size: 15px;
		}
		.growth-up {
			transform: rotate(45deg);
			font-size: 15px;
		}
	}
	.background-profile-blue {
		background: #2F83EB;
	}
	.background-profile-green {
		background: #A9D231;
	}
	.background-profile-red {
		background: #ed684e;
	}
	.background-profile-yellow {
		background: #F5B342;
	}
	.background-relationship-red {
		background: #ED684E;
	}
	.background-relationship-yellow {
		background: #F5B342;
	}
	.background-relationship-green {
		background: #A9D231;
	}
	.save-email {
		display: block;
		width: 50px;
		height: 50px;
		background: url("chrome-extension://__MSG_@@extension_id__/img/save-email.jpg") no-repeat;
		background-size: contain;
		margin: 0 auto;
	}
	.sb-blue-logo {
		display: block;
		width: 170px;
		height: 50px;
		background: url("chrome-extension://__MSG_@@extension_id__/img/sb-blue-logo.png") no-repeat;
		background-size: contain;
		margin: 0 auto;
	}
	.row {
		margin-left: -15px;
		margin-right: -15px;
		padding-left: 15px;
		padding-right: 15px;
		&:after {
			content: " ";
			display: block;
			clear: both;
		}
		+ {
			.row {
				padding-top: 5px;
			}
		}
	}
	div[class*="col-"][class*="-1"] {
		width: 8.333333333%;
		float: left;
	}
	div[class*="col-"][class*="-2"] {
		width: 16.666666667%;
		float: left;
	}
	div[class*="col-"][class*="-3"] {
		width: 25%;
		float: left;
	}
	div[class*="col-"][class*="-4"] {
		width: 33.333333333%;
		float: left;
	}
	div[class*="col-"][class*="-5"] {
		width: 41.666666667%;
		float: left;
	}
	div[class*="col-"][class*="-6"] {
		width: 50%;
		float: left;
	}
	div[class*="col-"][class*="-7"] {
		width: 58.333333333%;
		float: left;
	}
	div[class*="col-"][class*="-8"] {
		width: 66.666666667%;
		float: left;
	}
	div[class*="col-"][class*="-9"] {
		width: 75%;
		float: left;
	}
	div[class*="col-"][class*="-10"] {
		width: 83.333333333%;
		float: left;
	}
	div[class*="col-"][class*="-11"] {
		width: 91.666666667%;
		float: left;
	}
	div[class*="col-"][class*="-12"] {
		width: 100%;
		float: left;
	}
}
.table.note-table {
	td[width="20%"] {
		.avatar-small {
			width: 40px;
		}
	}
	td[width="80%"] {
		vertical-align: top;
		.note {
			padding: 10px;
			float: left;
			width: 80%;
			background: #E4E5E6;
			border-radius: 10px;
			max-width: 100%;
			position: relative;
			&:after {
				position: absolute;
				left: -10px;
				content: "";
				width: 0;
				height: 0;
				top: 12px;
				border-bottom: 10px solid transparent;
				border-top: 10px solid transparent;
				border-right: 10px solid #E4E5E6;
			}
		}
	}
}
.panel {
	.panel-body {
		transition: height 0.8s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	}
}
.width-10 {
	width: 10%;
}
.width-20 {
	width: 20%;
}
.width-60 {
	width: 60%;
}