@font-face{
    font-family:'FontAwesome';
    src:url('chrome-extension://__MSG_@@extension_id__/fonts/fontawesome-webfont.eot?v=4.6.2');
    src:url('chrome-extension://__MSG_@@extension_id__/fonts/fontawesome-webfont.eot?#iefix&v=4.6.2') format('embedded-opentype'),url('chrome-extension://__MSG_@@extension_id__/fonts/fontawesome-webfont.woff2?v=4.6.2') format('woff2'),url('chrome-extension://__MSG_@@extension_id__/fonts/fontawesome-webfont.woff?v=4.6.2') format('woff'),url('chrome-extension://__MSG_@@extension_id__/fonts/fontawesome-webfont.ttf?v=4.6.2') format('truetype'),url('chrome-extension://__MSG_@@extension_id__/fonts/fontawesome-webfont.svg?v=4.6.2#fontawesomeregular') format('svg');
    font-weight:normal;
    font-style:normal
}

body {
  background: #f9fafb;
}

#salesbox-plugin,
.modal,
.modal.in {
  font-family: 'Open Sans', sans-serif;
  color: #333;
}
#salesbox-plugin * {
  box-sizing: border-box;
}
#salesbox-plugin p {
  margin: 0 0 5px;
}
#salesbox-plugin a {
  text-decoration: none;
}
#salesbox-plugin label {
  font-weight: bold;
}
#salesbox-plugin button {
  font-family: inherit;
}
#salesbox-plugin input {
  height: 25px;
  padding: 2px 12px;
  border: none;
  font-size: inherit;
  font-family: inherit;
  box-shadow: none;
  width: 100%;
  background: none;
}
#salesbox-plugin input:focus {
  box-shadow: none;
  outline: none;
}
#salesbox-plugin .panel {
  box-shadow: none;
  background: transparent;
  border: none;
  padding: 10px;
  font-size: 11px;
  text-align: start;
}
#salesbox-plugin .panel .panel-heading {
  background: #fff;
  padding: 10px;
  border-bottom: 1px solid #c0c1c2;
}
#salesbox-plugin .panel .panel-heading .panel-title {
  font-size: 12px;
  border-bottom: 0;
}
#salesbox-plugin .panel .panel-heading .collapse-action {
  float: right;
  display: block;
  color: #9d9d9c;
}
#salesbox-plugin .panel .panel-body {
  background: #fff;
  padding: 10px;
}
#salesbox-plugin .panel .panel-footer {
  padding: 10px;
}
#salesbox-plugin .panel.main-panel {
  margin-top: 50px;
  border: none;
}
#salesbox-plugin .panel.main-panel .panel-heading {
  background: transparent;
  border: none;
  height: 30px;
  padding: 0px;
  text-align: center;
}
#salesbox-plugin .panel.main-panel .panel-heading .action-buttons {
  float: right;
  font-size: 18px;
}
#salesbox-plugin .panel.main-panel .panel-heading .action-buttons ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
#salesbox-plugin .panel.main-panel .panel-heading .action-buttons ul li {
  float: left;
  margin-right: 10px;
}
#salesbox-plugin .panel.main-panel .panel-heading .action-buttons ul li a {
  color: #9d9d9c;
}
#salesbox-plugin .panel.main-panel .panel-heading .action-buttons ul li:last-child {
  margin-right: 0px;
}
#salesbox-plugin .panel.main-panel .panel-body {
  position: relative;
  padding-top: 50px;
  height: 200px;
  color: #fff;
}
#salesbox-plugin .panel.main-panel .panel-body.background-contact {
  background-color: #4e9b89;
}
#salesbox-plugin .panel.main-panel .panel-body .profile h3 {
  font-size: 20px;
  margin: 10px 0px;
}
#salesbox-plugin .panel.main-panel .panel-body .profile p {
  font-size: 11px;
}
#salesbox-plugin .panel.main-panel .panel-footer {
  background: #fff;
}
#salesbox-plugin .panel.main-panel .panel-footer .bubble-actions .icon {
  font-size: 18px;
  color: #4e9b89;
  position: relative;
  width: 40px;
  margin: auto;
}
#salesbox-plugin .panel.main-panel .panel-footer .bubble-actions .icon .badge {
  position: absolute;
  border-radius: 100%;
  background: #696969;
  box-shadow: 1px 1px 1px gray;
  color: white;
  font-weight: 500;
  font-size: 10px;
  padding: 1px 6px;
  top: -3px;
  right: 2px;
}
#salesbox-plugin .panel.main-panel .panel-footer .bubble-actions p {
  font-size: 10px;
  color: #58585a;
}
#salesbox-plugin .panel.main-panel .panel-footer .bubble-actions .fa-plus-circle {
  font-size: 24px;
}
#salesbox-plugin .avatar-container {
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 10px;
  border-radius: 100%;
}
#salesbox-plugin .avatar-container .relationship-ring {
    height: 82px;
    width: 82px;
    box-shadow: rgb(245, 179, 66) 0px 0px 0px 5px;
    background-color: white;
    margin: auto;
    border-radius: 100%;
}
#salesbox-plugin .avatar-large {
  width: 82px;
}
#salesbox-plugin .avatar-medium {
  width: 60px;
}
#salesbox-plugin .avatar-small {
  width: 50px;
}
#salesbox-plugin .table {
  font-size: 11px;
  width: 100%;
  border-collapse: collapse;
}
#salesbox-plugin .table tr > td {
  border-top: none;
  padding: 5px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}
#salesbox-plugin .table tr:last-child > td {
  border-bottom: none;
}
#salesbox-plugin .warning-action {
  font-size: 16px;
}
#salesbox-plugin .contact-team-table .icon {
  font-size: 14px;
  color: #9d9d9c;
}
#salesbox-plugin .contact-team-table a {
  color: inherit;
}
#salesbox-plugin .contact-team-table tr > td {
  border: none;
  padding: 2px 5px;
}
#salesbox-plugin .contact-team-table .contact-team-action {
  font-size: 14px;
}
#salesbox-plugin .latest-communication-table tr > td {
  padding: 2px 5px;
}
#salesbox-plugin .latest-communication-table p {
  margin: 0px;
}
#salesbox-plugin .panel.add-panel .panel-heading {
  background: transparent;
  border: none;
}
#salesbox-plugin .panel.add-panel .panel-heading .panel-title {
  font-weight: bold;
  color: #33505D;
  font-size: 16px;
  margin: 0px;
}
#salesbox-plugin .panel.add-panel .panel-body {
  font-size: 12px;
}
#salesbox-plugin .panel.add-panel .panel-body .avatar-upload {
  position: relative;
  height: 80px;
}
#salesbox-plugin .panel.add-panel .panel-body .avatar-upload .avatar-medium {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
}
#salesbox-plugin .panel.add-panel .panel-body .avatar-upload span {
  position: absolute;
  top: 50%;
  left: 80px;
  transform: translateY(-50%);
  font-size: inherit;
}
#salesbox-plugin .panel.add-panel .panel-body .form-flex .form-group {
  border-top: 1px solid #ddd;
  margin-bottom: 0;
  display: table;
  width: 100%;
}
#salesbox-plugin .panel.add-panel .panel-body .form-flex .form-group .control-label {
  margin: 0;
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
  text-align: left;
  display: table-cell;
  width: 66px;
}
#salesbox-plugin .panel.add-panel .panel-body .form-flex .form-group .control-input {
  display: table-cell;
}
#salesbox-plugin .panel.add-panel .panel-body .form-flex .form-group.save-email-btn {
  margin-bottom: 5px;
}
#salesbox-plugin .panel.add-panel .panel-body .form-flex .form-group-addon {
  display: table;
  width: 100%;
}
#salesbox-plugin .panel.add-panel .panel-body .form-flex .form-group-addon .type-action {
  display: table-cell;
  width: 20%;
}
#salesbox-plugin .panel.add-panel .panel-body .form-flex .form-group-addon .input-action {
  display: table-cell;
  width: 60%;
}
#salesbox-plugin .panel.add-panel .panel-body .form-flex .form-group-addon .default-action {
  display: table-cell;
  width: 20%;
  text-align: right;
}
#salesbox-plugin .panel.add-panel .panel-body .form-flex .form-group-addon .default-action a {
  color: inherit;
}
#salesbox-plugin .panel.add-panel .panel-body .form-flex .form-group-addon .default-action a.active {
  font-weight: bold;
}
#salesbox-plugin .btn {
  border-radius: 2px;
  padding: 2px 10px;
  min-width: 70px;
  font-size: 12px;
}
#salesbox-plugin .btn-outline {
  border: 1px solid #4e9b89;
  background: #fff;
  color: #4e9b89;
}
#salesbox-plugin .btn-outline:focus, #salesbox-plugin .btn-outline:hover {
  background: #e6e6e6;
}
#salesbox-plugin .btn-default {
  border: 1px solid #4e9b89;
  background: #4e9b89;
  color: #fff;
  padding: 3px 10px;
  border-radius: 5px;
}
#salesbox-plugin .btn-default:focus, #salesbox-plugin .btn-default:hover {
  opacity: 0.7;
}
#salesbox-plugin #add-to-opportunity {
  background: #EF8367;
  border: 1px solid #EF8367;
}
#salesbox-plugin #add-to-account {
  background: #5F6A7B;
  border: 1px solid #5F6A7B;
}
#salesbox-plugin .no-padding {
  padding: 0px;
}
#salesbox-plugin .no-border {
  border: none;
}
#salesbox-plugin .padding-top {
  padding-top: 10px;
}
#salesbox-plugin .color-green {
  color: #AACD45 !important;
}
#salesbox-plugin .background-green {
  background: #AACD45;
}
#salesbox-plugin .color-red {
  color: #D56772 !important;
}
#salesbox-plugin .background-red {
  background: #D56772;
}
#salesbox-plugin .background-gray {
  background: #ADADAD;
}
#salesbox-plugin .img-circle {
  border-radius: 50%;
}
#salesbox-plugin .text-center {
  text-align: center;
}
#salesbox-plugin .text-right {
  text-align: right;
}
/*#salesbox-plugin .row {
  display: flex;
}
#salesbox-plugin .row + .row {
  padding-top: 5px;
}
#salesbox-plugin div[class*="col-"][class$="-1"] {
  flex: 1;
}
#salesbox-plugin div[class*="col-"][class$="-2"] {
  flex: 2;
}
#salesbox-plugin div[class*="col-"][class$="-3"] {
  flex: 3;
}
#salesbox-plugin div[class*="col-"][class$="-4"] {
  flex: 4;
}
#salesbox-plugin div[class*="col-"][class$="-5"] {
  flex: 5;
}
#salesbox-plugin div[class*="col-"][class$="-6"] {
  flex: 6;
}
#salesbox-plugin div[class*="col-"][class$="-7"] {
  flex: 7;
}
#salesbox-plugin div[class*="col-"][class$="-8"] {
  flex: 8;
}
#salesbox-plugin div[class*="col-"][class$="-9"] {
  flex: 9;
}
#salesbox-plugin div[class*="col-"][class$="-10"] {
  flex: 10;
}
#salesbox-plugin div[class*="col-"][class$="-11"] {
  flex: 11;
}
#salesbox-plugin div[class*="col-"][class$="-12"] {
  flex: 12;
}*/
#salesbox-plugin svg .circle-red {
  stroke: #e0575a;
}
#salesbox-plugin svg .circle-red.normal {
  stroke: rgba(224, 87, 90, 0.25);
}
#salesbox-plugin svg .circle-green {
  stroke: #AACD45;
}
#salesbox-plugin svg .circle-green.normal {
  stroke: rgb(158, 202, 177);
  stroke: rgba(170, 205, 69, 0.3);
}
#salesbox-plugin svg .circle-yellow {
  stroke: #F7C06F;
}
#salesbox-plugin svg .circle-yellow.normal {
   stroke: rgb(181, 198, 190);
   stroke: rgba(247, 192, 111, 0.3);
}
#salesbox-plugin svg .circle-gray {
  stroke: #F1F1F1
}
#salesbox-plugin svg .circle-gray.normal {
  stroke: #F1F1F1;
}
#salesbox-plugin svg .separate-line {
  stroke-width: 1;
  stroke: #6d6f71;
}
#salesbox-plugin svg .progress-bar.thick-stroke {
  stroke-width: 9px;
}
#salesbox-plugin svg .text-12 {
  font-size: 12px;
}
#salesbox-plugin svg .text-24 {
  font-size: 24px;
}
#salesbox-plugin svg .small-text {
  fill: #5d5d5d;
}
#salesbox-plugin svg .text-red {
  fill: #e0575a;
}
#salesbox-plugin svg .text-green {
  fill: #AACD45;
}
#salesbox-plugin svg .text-yellow {
  fill: #F7C06F;
}
#salesbox-plugin svg .weight-700 {
  font-weight: bold;
}
#salesbox-plugin .dealCircles,
#salesbox-plugin .saleCircles {
  position: relative;
}
#salesbox-plugin .tooltip-wrapper {
  position: absolute;
  display: none;
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
	-webkit-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
	-moz-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}
#salesbox-plugin .tooltip-wrapper.show {
  display: block;
}
#salesbox-plugin .tooltip-wrapper.top {
  top: -44px;
  width: 120%;
  left: 50%;
  transform: translateX(-49%);
}
#salesbox-plugin .tooltip-wrapper.bottom {
  top: 118px;
  width: 120%;
  left: 50%;
  transform: translateX(-49%);
}
#salesbox-plugin .tooltip-wrapper.bottom .tooltip:after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-bottom: 5px solid #1a1a1a;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}
#salesbox-plugin .tooltip {
  position: relative;
  background: #1a1a1a;
  color: white;
  border-radius: 3px;
  padding: 5px;
}
#salesbox-plugin .tooltip-wrapper.top .tooltip:after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-top: 5px solid #1a1a1a;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}
#salesbox-plugin .dropdown {
  position: relative;
}
#salesbox-plugin .dropdown .dropdown-menu {
  z-index: 999;
  background: #fff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  display: none;
  position: absolute;
  top: 25px;
  width: 60%;
  min-width: 250px;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
#salesbox-plugin .dropdown .dropdown-menu.dropdown-menu-left {
  left: 0px;
}
#salesbox-plugin .dropdown .dropdown-menu.dropdown-menu-right {
  right: 0px;
}
#salesbox-plugin .dropdown .dropdown-menu li {
  padding: 10px;
}
#salesbox-plugin .dropdown .dropdown-menu li:nth-child(2n) {
  background: #f9fafb;
}
#salesbox-plugin .dropdown .dropdown-menu li a {
  color: inherit;
  width: 100%;
  display: block;
}
#salesbox-plugin .dropdown .dropdown-menu li a.has-bubble {
  position: relative;
}
#salesbox-plugin .dropdown .dropdown-menu li a.has-bubble :not(.bubble) {
  margin-left: 50px;
}
#salesbox-plugin .dropdown .dropdown-menu li a .bubble {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#salesbox-plugin .input-group {
  position: relative;
  width: 100%;
}
#salesbox-plugin .input-group .input-group-prefix {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #9d9d9c;
}
#salesbox-plugin .input-group .input-group-suffix {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  color: #9d9d9c;
}
#salesbox-plugin .input-group .input-content.has-prefix {
  margin-left: 20px;
}
#salesbox-plugin .input-group .input-content.has-suffix {
  margin-right: 20px;
}
#salesbox-plugin .hidden {
  display: none !important;
}
#salesbox-plugin .square {
  display: inline-block;
  width: 15px;
  height: 15px;
}
#salesbox-plugin .circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
#salesbox-plugin .growth {
  border-radius: 4px;
  color: #fff;
  padding: 2px 4px;
  float: right;
  margin-right: 10px;
}
#salesbox-plugin .growth .fa {
  font-size: 15px;
}
#salesbox-plugin .growth .growth-down {
  transform: rotate(135deg);
  font-size: 15px;
}
#salesbox-plugin .growth .growth-up {
  transform: rotate(45deg);
  font-size: 15px;
}
#salesbox-plugin .background-profile-blue {
  background: #2F83EB;
}
#salesbox-plugin .background-profile-green {
  background: #A9D231;
}
#salesbox-plugin .background-profile-red {
  background: #ed684e;
}
#salesbox-plugin .background-profile-yellow {
  background: #F5B342;
}
#salesbox-plugin .background-relationship-red {
  background: #ED684E;
}
#salesbox-plugin .background-relationship-yellow {
  background: #F5B342;
}
#salesbox-plugin .background-relationship-green {
  background: #A9D231;
}
#salesbox-plugin .save-email {
  display: block;
  width: 50px;
  height: 50px;
  background: url("chrome-extension://__MSG_@@extension_id__/img/save-email.jpg") no-repeat;
  background-size: contain;
  margin: 0 auto;
}
#salesbox-plugin .sb-blue-logo {
  display: block;
  width: 170px;
  height: 50px;
  background: url("chrome-extension://__MSG_@@extension_id__/img/sb-blue-logo.png") no-repeat;
  background-size: contain;
  margin: 0 auto;
}
.modal .modal-content .form-group.note {
  display: inline-block;
  border: none;
}
.modal .modal-content .form-group.note .col-sm-3 {
  width: 25%;
  float: left;
}
.modal .modal-content .form-group.note .col-sm-8 {
  width: 66.6666666667%;
  float: left;
}
.modal .modal-content .form-group.note .col-sm-1 {
  width: 8.3333333333%;
  float: left;
  text-align: right;
}
.modal .modal-content .form-group.note textarea {
  display: block;
}
.table.note-table td[width="20%"] .avatar-small {
  width: 40px;
}
.table.note-table td[width="80%"] {
  vertical-align: top;
}
.table.note-table td[width="80%"] .note {
  padding: 10px;
  float: left;
  width: 80%;
  background: #E4E5E6;
  border-radius: 10px;
  max-width: 100%;
  position: relative;
}
.table.note-table td[width="80%"] .note:after {
  position: absolute;
  left: -10px;
  content: "";
  width: 0;
  height: 0;
  top: 12px;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  border-right: 10px solid #E4E5E6;
}
.note .note-block {
  resize: none;
}
.panel .panel-body {
  transition: height 0.8s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#salesbox-plugin .row {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
}
#salesbox-plugin .row:after {
  content: " ";
  display: block;
  clear: both;
}
#salesbox-plugin .row + .row {
  padding-top: 5px;
}
#salesbox-plugin div[class*="col-"][class*="-1"] {
  width: 8.333333333%;
  float: left;
}
#salesbox-plugin div[class*="col-"][class*="-2"] {
  width: 16.666666667%;
  float: left;
}
#salesbox-plugin div[class*="col-"][class*="-3"] {
  width: 25%;
  float: left;
}
#salesbox-plugin div[class*="col-"][class*="-4"] {
  width: 33.333333333%;
  float: left;
}
#salesbox-plugin div[class*="col-"][class*="-5"] {
  width: 41.666666667%;
  float: left;
}
#salesbox-plugin div[class*="col-"][class*="-6"] {
  width: 50%;
  float: left;
}
#salesbox-plugin div[class*="col-"][class*="-7"] {
  width: 58.333333333%;
  float: left;
}
#salesbox-plugin div[class*="col-"][class*="-8"] {
  width: 66.666666667%;
  float: left;
}
#salesbox-plugin div[class*="col-"][class*="-9"] {
  width: 75%;
  float: left;
}
#salesbox-plugin div[class*="col-"][class*="-10"] {
  width: 83.333333333%;
  float: left;
}
#salesbox-plugin div[class*="col-"][class*="-11"] {
  width: 91.666666667%;
  float: left;
}
#salesbox-plugin div[class*="col-"][class*="-12"] {
  width: 100%;
  float: left;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, 
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, 
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, 
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  min-height: 1px;
  position: relative;
}

/* POPOVER STYLES */
.popover-menu-theme {
  position: absolute;
  display: none;
  z-index: 1000;
  background-color: transparent;
  left: -200px;
  width: 200px;
  top: -6px;
}

.popover-menu-theme .popover-menu {
  border-radius: 5px;
  position: relative;
}

.triangle {
  position: absolute;
  height: 0;
  width: 0;
  background-color: transparent !important;
  border-color: transparent !important;
  border: 11px solid;
  right: -11px;
}

.triangle:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    position: absolute;
    
}

.popover-menu-theme.popover-left .triangle {
  border-left-color: #fff;
  border-right-width: 0;
  right: 0;
  top: 5px;
}

.popover-menu-theme .triangle.border-contact:after {
  border-left-color: #4e9b89 !important;
}

.popover-menu-theme .popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  border: 0;
  border-radius: 0;
  color: #fff;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.table-striped>tbody>tr:nth-of-type(even) {
  background-color: #ffffff;
}

.table-striped>tbody>tr:nth-of-type(even):hover {
  background-color: #f9f9f9;
}

#salesbox-plugin .popover-menu-theme .table tr > td {
  padding: 8px;
  font-size: 12px;
  vertical-align: middle;
}

.popover-menu-theme .table {
  color: #58585a;
}

.popover-menu-theme .table tr {
  cursor: pointer;
}

.popover-menu-theme .table tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

.popover-menu-theme .table tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

/* Modal styling */
.modal {
  background-color: rgba(0, 0, 0, 0.5);
}

.in:hover {
  text-decoration: none !important;
}

/* CSS SHORT HANDS  */
.width-10 {
  width: 10%;
}
.width-20 {
  width: 20%;
}
.width-60 {
  width: 60%;
}

.border-contact {
  border: 1px solid #4e9b89 !important;
}

.background-contact {
  background: #4e9b89;
}

.text-contact,
.fa.text-contact {
  color: #4e9b89 !important;
}

.text-18 {
  font-size: 18px !important;
}


/* Bootstrap modal */

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.close span {
  line-height: 26px;
}
.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
  color: white;
  font-size: 18px;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
.clearfix:before,
.clearfix:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.clearfix:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}

.modal-content {
  border: none;
  box-shadow: none;
  background: transparent;
}
.modal-content form {
  background: #fff;
}
.modal-content .modal-inner {
  border: 2px solid #f5f5f5;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: #fff;
}
.modal-content .modal-heading {
  padding: 5px 10px;
  text-align: left;
}
.modal-content .modal-heading .model-title {
  font-size: 12px;
  margin: 0px;
}
.modal-content .modal-body {
  padding: 10px;
  background: #fff;
}
.modal-content .modal-body > p,
.modal-content .modal-body > p > span {
  font-size: 15px;
}
.modal-content .modal-body p.text {
  font-size: 15px;
}
.modal-content .modal-body .form-group {
  min-height: 30px;
  border-bottom: 1px solid #c0c1c2;
  line-height: 30px;
  width: 100%;
  margin: 0;
}
.modal-content .modal-body .form-group > div[class*="col-"] {
  padding: 0 0 0 5px;
}
.modal-content .modal-body .form-group > div[class*="col-"]:first-child {
  padding-left: 0px;
}
.modal-content .modal-body .form-group input.sb-modal-form-control {
  padding: 0 12px;
  height: 30px;
}
.modal-content .modal-body .form-group label {
  font-weight: bold;
  color: #3a3a3c;
  font-size: 12px;
}
.modal-content .modal-body .form-group .label-default {
  padding: 5px;
  margin: 5px 5px 5px 0;
  color: #fff;
  display: inline-block;
  line-height: 1;
  border-radius: .25em;
}
.modal-content .modal-body .form-group .intl-tel-input input[type="text"] {
  padding-left: 50px;
}
.modal-content .modal-body .form-group .intl-tel-input input[type="text"]:focus {
  outline: none;
}
.modal-content .modal-body .form-group textarea,
.modal-content .modal-body .form-group input {
  border: none;
  background: none;
  width: 100%;
  font-size: 12px;
  padding-left: 5px;
}
.modal-content .modal-body .form-group textarea:focus,
.modal-content .modal-body .form-group input:focus {
  outline: none;
}
.modal-content .modal-body .form-group .color-tag {
  margin-top: 8px;
  padding: 0 12px !important;
}
.modal-content .modal-body .control-label {
  padding: 0;
}
.modal-content .modal-body .dropdown-toggle .fa-caret-down {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-content .modal-body .dropdown-min-height {
  max-height: 500px;
}
.modal-content .modal-body .sb-search-modal.input-group .input-group-addon,
.modal-content .modal-body .sb-search-list.input-group .input-group-addon {
  background: none;
}
.modal-content .modal-body .sb-search-modal.input-group input,
.modal-content .modal-body .sb-search-list.input-group input {
  border-radius: 0;
}
.modal-content .modal-footer {
  border: none;
  display: inline-block;
  width: 100%;
}
.modal-content .modal-footer .btn {
  width: auto;
}
.modal .modal-content .form-group {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
}
.modal .modal-content .form-group .col-sm-3:first-child {
  width: auto;
  height: 30px;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}
.modal .modal-content .form-group .col-sm-3:nth-of-type(3) {
  width: 100%;
}
.modal .modal-content .form-group .col-sm-3 .control-label {
  text-overflow: initial;
  width: 100%;
  overflow: visible;
}
.modal .modal-content .form-group .col-sm-9:nth-child(2) {
  width: 100%;
  height: 30px;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}
.modal .modal-content .form-group .col-sm-9:nth-child(2) .dropdown-toggle {
  width: 100%;
}
.modal .modal-content .form-group .col-sm-8 {
  width: 100%;
}
.modal .modal-content .form-group .col-sm-8 + .col-sm-1 {
  float: right;
}
.modal .modal-content .form-group .fa.fa-caret-down {
  font-size: 11px !important;
}
.sb-dropdown-wrapper {
  position: relative;
}
.sb-dropdown-wrapper.dropdown-inline.form-group {
  border-bottom: none;
}
.sb-dropdown-wrapper.dropdown-inline input {
  padding: 0 15px 0 0 !important;
  font-size: inherit;
}
.sb-dropdown-wrapper.dropdown-inline .col-sm-3 {
  display: none;
}
.sb-dropdown-wrapper.dropdown-inline .col-sm-9 {
  padding: 0 !important;
  width: 100% !important;
}
.sb-dropdown-wrapper.dropdown-inline label {
  display: none;
}
.sb-dropdown-wrapper.dropdown-inline > a[data-toggle="dropdown"] {
  right: 0;
}
.sb-dropdown-wrapper.dropdown-inline .dropdown-menu.dropdown-menu-right {
  width: 100%;
  min-width: 180px;
}
.sb-dropdown-wrapper.form-group {
  overflow: visible !important;
}
.sb-dropdown-wrapper > a {
  position: absolute;
  right: 10px;
  top: 0;
}
.sb-dropdown-wrapper .dropdown-search {
  padding: 5px;
}
.sb-dropdown-wrapper .dropdown-search input {
  border: 1px solid #ccc;
}
.sb-dropdown-wrapper .dropdown-item td {
  border: 0;
}
.btn,
.btn-danger.active,
.btn-danger:active,
.btn-default.active,
.btn-default:active,
.btn-info.active,
.btn-info:active,
.btn-primary.active,
.btn-primary:active,
.btn-warning.active,
.btn-warning:active,
.btn.active,
.btn:active,
.dropdown-menu>.disabled>a:focus,
.dropdown-menu>.disabled>a:hover,
.form-control,
.navbar-toggle,
.open>.dropdown-toggle.btn-danger,
.open>.dropdown-toggle.btn-default,
.open>.dropdown-toggle.btn-info,
.open>.dropdown-toggle.btn-primary,
.open>.dropdown-toggle.btn-warning {
    background-image: none
}
.btn-group>.btn-group,
.btn-toolbar .btn,
.btn-toolbar .btn-group,
.btn-toolbar .input-group,
.dropdown-menu {
    float: left
}
.dropdown-toggle:focus {
    outline: 0
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box
}
.dropdown-menu-right,
.dropdown-menu.pull-right {
    left: auto;
    right: 0
}
.dropdown-header,
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    line-height: 1.42857143;
    white-space: nowrap
}
.btn-group-vertical>.btn:not(:first-child):not(:last-child),
.btn-group>.btn-group:not(:first-child):not(:last-child)>.btn,
.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0
}
.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5
}
.dropdown-menu>li>a {
    clear: both;
    font-weight: 400;
    color: #333
}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5
}
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #337ab7
}
.dropdown-menu>.disabled>a,
.dropdown-menu>.disabled>a:focus,
.dropdown-menu>.disabled>a:hover {
    color: #777
}
.dropdown-menu>.disabled>a:focus,
.dropdown-menu>.disabled>a:hover {
    text-decoration: none;
    background-color: transparent;
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    cursor: not-allowed
}
.open>.dropdown-menu {
    display: block
}
.open>a {
    outline: 0
}
.dropdown-menu-left {
    left: 0;
    right: auto
}
.dropdown-header {
    font-size: 12px;
    color: #777
}
.dropdown-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 990
}
.nav-justified>.dropdown .dropdown-menu,
.nav-tabs.nav-justified>.dropdown .dropdown-menu {
    top: auto;
    left: auto
}
.pull-right>.dropdown-menu {
    right: 0;
    left: auto
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid\9;
    content: ""
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px
}
@media (min-width: 768px) {
    .navbar-right .dropdown-menu {
        left: auto;
        right: 0
    }
    .navbar-right .dropdown-menu-left {
        left: 0;
        right: auto
    }
}
.modal-content {
    border: none;
    box-shadow: none;
    background: 0 0
}
.modal-content form {
    background: #fff
}
.modal-content .modal-inner {
    border: 2px solid #f5f5f5;
    background: #fff;
    border-radius: 0 0 8px 8px
}
.modal-content .modal-heading {
    padding: 5px 10px;
    text-align: left
}
.modal-content .modal-heading .model-title {
    font-size: 12px;
    margin: 0
}
.modal-content .modal-body {
    padding: 10px;
    background: #fff
}
.modal-content .modal-body p.text,
.modal-content .modal-body>p,
.modal-content .modal-body>p>span {
    font-size: 15px
}
.modal-content .modal-body .form-group {
    min-height: 30px;
    border-bottom: 1px solid #c0c1c2;
    line-height: 30px;
    width: 100%;
    margin: 0
}
.modal-content .modal-body .form-group>div[class*=col-] {
    padding: 0 0 0 5px
}
.modal-content .modal-body .form-group>div[class*=col-]:first-child {
    padding-left: 0
}
.modal-content .modal-body .form-group input.sb-modal-form-control {
    padding: 0 12px;
    height: 30px;
}
.modal-content .modal-body .form-group label {
    font-weight: 700;
    color: #3a3a3c;
    font-size: 12px
}
.modal-content .modal-body .form-group .label-default {
    padding: 5px;
    margin: 5px 5px 5px 0;
    color: #fff;
    display: inline-block
}
.modal-content .modal-body .form-group .intl-tel-input input[type=text] {
    padding-left: 50px
}
.modal-content .modal-body .form-group .intl-tel-input input[type=text]:focus {
    outline: 0
}
.modal-content .modal-body .form-group input,
.modal-content .modal-body .form-group textarea {
    border: none;
    background: 0 0;
    width: 100%;
    font-size: 12px;
    padding-left: 5px
}
.modal-content .modal-body .form-group input:focus,
.modal-content .modal-body .form-group textarea:focus {
    outline: 0
}
.modal-content .modal-body .form-group .color-tag {
    margin-top: 8px;
    padding: 0 12px!important
}
.modal-content .modal-body .control-label {
    padding: 0
}
.modal-content .modal-body .dropdown-toggle .fa-caret-down {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%)
}
.modal-content .modal-body .dropdown-menu {
    font-size: 12px;
    width: 100%;
    border-radius: 0;
    padding: 0;
    z-index: 99999
}
.modal-content .modal-body .dropdown-menu .input-group input {
    padding: 5px;
    border: none;
    box-shadow: none
}
.modal-content .modal-body .dropdown-menu .input-group input:focus {
    outline: 0
}
.modal-content .modal-body .dropdown-menu .input-group .input-group-addon {
    background: 0 0;
    border: none
}
.modal-content .modal-body .dropdown-menu .dropdown-item:nth-child(2n+1),
.modal-content .modal-body .dropdown-menu.dropdown-menu-right table.table tr:nth-child(2n+1) {
    background: #f9fafb
}
.modal-content .modal-body .dropdown-menu .dropdown-fix-height {
    height: auto;
    max-height: 200px;
    overflow: hidden
}
.modal-content .modal-body .dropdown-menu .dropdown-action {
    font-weight: 700
}
.modal-content .modal-body .dropdown-menu .dropdown-action .fa-plus-circle {
    margin-left: 10px;
    font-size: 32px;
    vertical-align: middle
}
.modal-content .modal-body .dropdown-menu .dropdown-action a {
    padding: 5px 10px
}
.modal-content .modal-body .dropdown-menu .dropdown-loading {
    height: 40px;
    padding: 5px 10px;
    line-height: 40px
}
.modal-content .modal-body .dropdown-menu .dropdown-item {
    padding: 5px 10px;
    cursor: pointer
}
.modal-content .modal-body .dropdown-menu.dropdown-menu-right {
    width: 60%;
    right: 0;
    left: auto;
    border: none;
    padding: 0
}
.modal-content .modal-body .dropdown-menu.dropdown-menu-right table.table.fill-width {
    width: 100%;
    table-layout: fixed;
    word-break: break-all
}
.modal-content .modal-body .dropdown-menu.dropdown-menu-right table.table tr {
    padding: 0
}
.modal-content .modal-body .dropdown-menu.dropdown-menu-right table.table tr>td {
    padding: 5px 10px;
    line-height: 30px;
    vertical-align: middle;
    height: 30px
}
.modal-content .modal-body .dropdown-min-height {
    max-height: 500px
}
.modal-content .modal-body .sb-search-list.input-group .input-group-addon,
.modal-content .modal-body .sb-search-modal.input-group .input-group-addon {
    background: 0 0
}
.modal-content .modal-body .sb-search-list.input-group input,
.modal-content .modal-body .sb-search-modal.input-group input {
    border-radius: 0
}
.modal-content .modal-footer {
    border: none;
    display: inline-block;
    width: 100%
}
.modal-content .modal-footer .btn {
    width: auto
}
.table {
  width: 100%;
}
.btn.background-contact {
  color: white !important;
  border: 1px solid #4e9b89;
}
.background-contact.btn.active, 
.background-contact.btn:focus, 
.background-contact.btn:hover {
  background: #384d46!important;
  border: 1px solid #384d46!important;
}
.btn {
  font-size: 12px;
  font-weight: bold;
  padding: 2px 10px;
  border-radius: 2px !important;
}
.save-button, .cancel-button {
  height: 30px;
}
.modal .fa {
  color: #9d9d9c !important;
}
.xdsoft_datetimepicker {
  z-index: 100000;
}
.dot, .square {
  width: 15px;
  height: 15px;
  display: block;
}
.dot {
  border-radius: 50%;
}

.dot.background-red {
  background-color: #d56772!important;
}

.dot.background-blue {
  background-color: #8bc3da!important;
}

.dot.background-green {
  background-color: #8cc290!important;
}

.dot.background-yellow {
  background-color: #e6d760!important;
}

.dot.background-purple {
  background-color: #d885d9!important;
}