$fa-google-doc: "\e95a";
$fa-google-presentation: "\e95b";
$fa-google-sheet: "\e95c";
$fa-question-square: "\e95d";
$fa-mail-read: "\e959";
$fa-battery: "\e958";
$fa-area-chart: "\e900";
$fa-atom: "\e901";
$fa-bar-chart: "\e902";
$fa-bell-o: "\e903";
$fa-building: "\e904";
$fa-bullhorn: "\e905";
$fa-bullseye: "\e906";
$fa-calendar-check-o: "\e907";
$fa-calendar: "\e908";
$fa-camera: "\e909";
$fa-caret-down: "\e90a";
$fa-caret-left: "\e90b";
$fa-caret-right: "\e90c";
$fa-caret-up: "\e90d";
$fa-chatting-square: "\e90e";
$fa-check-circle: "\e90f";
$fa-chevron-left: "\e910";
$fa-chevron-right: "\e911";
$fa-chevron-up: "\e912";
$fa-circle-thin: "\e913";
$fa-clock-o: "\e914";
$fa-clock: "\e915";
$fa-clould-download: "\e916";
$fa-cogs: "\e917";
$fa-comments: "\e918";
$fa-desktop: "\e919";
$fa-documents: "\e91a";
$fa-dollar: "\e91b";
$fa-ellipsis-h: "\e91c";
$fa-envelope-new: "\e91d";
$fa-envelope-o-send: "\e91e";
$fa-envelope-o: "\e91f";
$fa-exclamation-triangle: "\e920";
$fa-external-link: "\e921";
$fa-file-delete: "\e922";
$fa-file-excel-o: "\e923";
$fa-file-pdf-o: "\e924";
$fa-file-text-o: "\e925";
$fa-filter: "\e926";
$fa-flag-circle: "\e927";
$fa-folder: "\e928";
$fa-global: "\e929";
$fa-hand-shake: "\e92a";
$fa-history: "\e92b";
$fa-info-circle: "\e92c";
$fa-leads: "\e92d";
$fa-line-chart: "\e92e";
$fa-list: "\e92f";
$fa-lock: "\e930";
$fa-mail-exclamation-triangle: "\e931";
$fa-medal-bronze: "\e932";
$fa-order-row: "\e933";
$fa-pencil-square-o: "\e934";
$fa-pencil: "\e935";
$fa-percent: "\e936";
$fa-phone-circle: "\e937";
$fa-phone-call: "\e938";
$fa-phone-dial: "\e939";
$fa-phone: "\e93a";
$fa-picture-o: "\e93b";
$fa-plus-circle: "\e93c";
$fa-plus: "\e93d";
$fa-power-off: "\e93e";
$fa-question-triangle: "\e93f";
$fa-question-circle: "\e940";
$fa-running-man: "\e941";
$fa-salesbox-logo: "\e942";
$fa-search: "\e943";
$fa-sort: "\e944";
$fa-star-circle-ban: "\e945";
$fa-star-circle: "\e946";
$fa-star-o: "\e947";
$fa-star: "\e948";
$fa-th-list: "\e949";
$fa-th: "\e94a";
$fa-thermo-1: "\e94b";
$fa-thermo-2: "\e94c";
$fa-thermo-3: "\e94d";
$fa-thermo-4: "\e94e";
$fa-thermo-5: "\e94f";
$fa-times-circle: "\e950";
$fa-unit: "\e951";
$fa-upload: "\e952";
$fa-usd: "\e953";
$fa-user-circle-o: "\e954";
$fa-user-o: "\e955";
$fa-user-plus: "\e956";
$fa-wifi: "\e957";